includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/composer/composer/phpstan/rules.neon
parameters:
    phpVersion:
        min: 80500
        max: 80599
    paths:
        - src
    level: 10
    scanFiles:
        - stubs/MahoAttributes.stub
