includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/composer/composer/phpstan/rules.neon
parameters:
    phpVersion:
        min: 80200
        max: 80400
    paths:
        - src
    stubFiles:
        - stubs/composer.stub
    level: 10
